.caixa{
     background-color: #9c68ff !important; 
     height: 120px !important;          
}

.color{
    color: white ;
}

.icons{
    font-size:60px !important;
     color:white !important;
}

.boxfinal{ 
    background-color:#6d49b3 !important;
    height:60px !important;
}